body {
  background: #ecf0f5;
}

main {
  max-width: 900px;
  min-width: 333px;
  width: 80%;
  min-height: 500px;
  background: white;
  margin: 15px auto;
  padding: 15px 25px;
  box-shadow: 1px 1px 5px 1px #BBB;
}
